################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/csharp-Protoshift/obj
/.vs
/YSFreedomServer-v2
/NewProtoHandlers/bin
/NewProtoHandlers/obj
/OldProtoHandlers/bin
/OldProtoHandlers/obj
/csharp-Protoshift/bin/Release/net6.0/logs
/csharp-Protoshift/bin/Debug/net6.0/logs
/csharp-Protoshift/bin/Debug/net6.0/Temp
/XC.RSAUtil/bin/Debug/net6.0
/XC.RSAUtil/obj
/csharp-Protoshift/bin
/CSharp-Logger/bin
/CSharp-Logger/obj
/KCP/UnityIL2CPPTest
/KCP/UnitTestProject1
/KCP/TestServer
/KCP/TestClient
/KCP/KcpDemo
/.config
/.vscode
/KcpCsharpTest
/KcpTestClient
/KcpTestServer
