################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Main Protoshift
/csharp-Protoshift/bin
/csharp-Protoshift/obj
/csharp-Protoshift/logs
/csharp-Protoshift/Properties
/csharp-Protoshift/windy_temp
/csharp-Protoshift/config.json
/csharp-Protoshift/protoshift_hotpatch_config.json
/csharp-Protoshift/resources/windy_scripts
/csharp-Protoshift/skillissue_fix_config.json
/csharp-Protoshift/windy_config.json

# Replay Debugger
/csharp-Protoshift-Replay/bin
/csharp-Protoshift-Replay/obj
/csharp-Protoshift-Replay/logs

# Protos
/NewProtoHandlers/bin
/NewProtoHandlers/obj
/NewProtoHandlers/Backup
/NewProtoHandlers/Google.Protobuf
/NewProtoHandlers/AskCmdId.cs
/OldProtoHandlers/bin
/OldProtoHandlers/obj
/OldProtoHandlers/Backup
/OldProtoHandlers/Google.Protobuf
/OldProtoHandlers/AskCmdId.cs
/OldProtoHandlers/Google.Protobuf.3.4

# protoshift-ex Handlers & Generator
/ProtoshiftHandlers/bin
/ProtoshiftHandlers/obj
/ProtoshiftHandlers/Generated
/ProtoshiftHandlers/ProtoDispatch/Backup
/HandlerGenerator/.vscode
/HandlerGenerator/bin
/HandlerGenerator/obj
/HandlerGenerator/logs
/HandlerGenerator/proto2json/proto2json_output
/HandlerGenerator/Proto2json_Output
/HandlerGenerator/ProtoFieldNameAnalyze/Compiled
/HandlerGenerator/ProtoFieldNameAnalyze/GeneratedProtos
/HandlerGenerator/last_build_record.json

# Benchmark
/ProtoshiftBenchmark/bin
/ProtoshiftBenchmark/BenchmarkDotNet.Artifacts
/ProtoshiftBenchmark/obj
/ProtoshiftBenchmark/output_benchmark
/ProtoshiftBenchmark/logs
/ProtoshiftBenchmark/Properties

# Other Projects
/XC.RSAUtil/bin
/CSharp-Logger/bin
/CSharp-Logger/obj
/XC.RSAUtil/obj

# Kcp Implement
/KCP/Image
/KCP/KcpDemo
/KCP/TestClient
/KCP/TestServer
/KCP/UnitTestProject1
/KCP/UnityIL2CPPTest
/KCP/ChangeLog.md
/KCP/KCP.sln
/KCP/OpenSource.snk

# Kcp Tests Projects
/KcpCsharpTest
/KcpTestClient
/KcpTests/.vs
/KcpTests/.vscode
/KcpTests/KcpPerformanceTest/bin
/KcpTests/KcpPerformanceTest/obj
/KcpTests/KcpPerformanceTest/logs
/KcpTests/SharedLib/bin
/KcpTests/SharedLib/obj
/KcpTests/SharedLib/logs
/KcpTestServer

# etc
/.config
/.vs
/.vscode
/Builds
/YSFreedomServer-v2