################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Main Protoshift
/csharp-Protoshift/bin
/csharp-Protoshift/obj
/csharp-Protoshift/logs
/csharp-Protoshift/Properties
/csharp-Protoshift/windy_temp
/csharp-Protoshift/config.json
/csharp-Protoshift/protoshift_hotpatch_config.json
/csharp-Protoshift/resources/protobuf
/csharp-Protoshift/resources/windy_scripts
/csharp-Protoshift/skillissue_fix_config.json
/csharp-Protoshift/XC.RSAUtil/bin
/csharp-Protoshift/XC.RSAUtil/obj

# Builder
/HandlerGenerator/.vscode
/HandlerGenerator/bin
/HandlerGenerator/obj
/HandlerGenerator/logs
/HandlerGenerator/Properties
/HandlerGenerator/proto2json/proto2json_output
/HandlerGenerator/Proto2json_Output
/HandlerGenerator/ProtoFieldNameAnalyze/Compiled
/HandlerGenerator/ProtoFieldNameAnalyze/GeneratedProtos
/HandlerGenerator/Gencode_Configuration/afterbuild_task_unix.sh
/HandlerGenerator/Gencode_Configuration/afterbuild_task_win.ps1
/HandlerGenerator/last_build_record.json

# Protos
## NewProtos
/NewProtoHandlers/bin
/NewProtoHandlers/obj
/NewProtoHandlers/Backup
/NewProtoHandlers/Google.Protobuf
/NewProtoHandlers/Google.Protobuf.*
/NewProtoHandlers/AskCmdId.cs
## OldProtos
/OldProtoHandlers/bin
/OldProtoHandlers/obj
/OldProtoHandlers/Backup
/OldProtoHandlers/Google.Protobuf
/OldProtoHandlers/Google.Protobuf.*
/OldProtoHandlers/AskCmdId.cs
## protoshift-ex Handlers
/ProtoshiftHandlers/bin
/ProtoshiftHandlers/obj
/ProtoshiftHandlers/Generated
/ProtoshiftHandlers/ProtoDispatch

# Other Deprecated Projects
/CSharp-Logger
/csharp-Protoshift-Replay
/KcpCsharpTest
/KcpTests
/ProtoshiftBenchmark
/XC.RSAUtil

# Kcp Implement
/KCP/Image
/KCP/KcpDemo
/KCP/TestClient
/KCP/TestServer
/KCP/UnitTestProject1
/KCP/UnityIL2CPPTest
/KCP/ChangeLog.md
/KCP/KCP.sln
/KCP/OpenSource.snk

# Tests Projects
## Replay Debugger
/Tests/csharp-Protoshift-Replay/bin
/Tests/csharp-Protoshift-Replay/obj
/Tests/csharp-Protoshift-Replay/logs
## KCP Tests
/Tests/KcpCsharpTest
/Tests/KcpTestClient
/Tests/KcpTests/.vs
/Tests/KcpTests/.vscode
/Tests/KcpTests/KcpPerformanceTest/bin
/Tests/KcpTests/KcpPerformanceTest/obj
/Tests/KcpTests/KcpPerformanceTest/logs
/Tests/KcpTests/SharedLib/bin
/Tests/KcpTests/SharedLib/obj
/Tests/KcpTests/SharedLib/logs
/Tests/KcpTestServer
## Benchmark
/Tests/ProtoshiftBenchmark/bin
/Tests/ProtoshiftBenchmark/BenchmarkDotNet.Artifacts
/Tests/ProtoshiftBenchmark/obj
/Tests/ProtoshiftBenchmark/output_benchmark
/Tests/ProtoshiftBenchmark/logs
/Tests/ProtoshiftBenchmark/Properties

# etc
/.config
/.vs
/.vscode
/Builds
/YSFreedomServer-v2
